@using TheRichLifeProject.Models
@model TheRichLifeProject.Models.Product
@{
    ViewBag.Title = @Model.ProductName;
}
<style>

    @* Misschien te gebruiken voor later?*@
    p.groove {
        border-style: groove;
    }

    p.one {
        border-style: solid;
        border-width: 0.5px;
        border-color: darkgrey;
    }
</style>


<div class="col-md-4">
    <p> </p>
    <br />
    <br />
    <p class="one"></p>
    <br />
    <img src="@Model.ImageSrc" alt="foto product" style="width: 50vw;">
    <p> </p>
    <br />

    <p class="one"></p>
    <h2>@Model.ProductName</h2>
    <h3>Price: @Model.Price.ToString("c")</h3>
    <p></p>
    <p class="one"></p>
    <p>@Model.ShortDescription</p>
    <p>@Model.LongDescription</p>
    @*<p>Mature product: @Model.Mature</p>*@
    <p>In Stock: @Model.Stock</p>

    <p class="one"></p>
    <br />

    <div class="OrderItem text-right">

        <p class="button">
            <a class="btn btn-success" id="listButton"
               asp-controller="WishList"
               asp-action="AddToWishList"
               asp-route-productId="@Model.Id">
                Save product
            </a>
            <a class="btn btn-success" id="listButton"
               asp-controller="Order"
               asp-action="OrderItem"
               asp-route-productId="@Model.Id">
                Order Product
            </a>
            <a class="btn btn-success" id="listButton"
               asp-controller="Cart"
               asp-action="Add"
               asp-route-productId="@Model.Id">
                Add to cart
            </a>

        </p>

    </div>


</div>
