@model IEnumerable<TheRichLifeProject.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                <a asp-action="AddProductPage">
                <span class="glyphicon glyphicon-plus" style="padding-left:20px"></span>
                </a>
            </th>
         <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <a asp-action="EditProductPage" asp-route-id="@item.Id">
                    <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a asp-action="ProductDetails" asp-route-id="@item.Id">
                    <span class="glyphicon glyphicon-book"></span>
                    </a>
                    <a asp-action="DeleteProduct" asp-route-id="@item.Id">
                    <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
